<config>
    <modules>
        <Magentotutorial_RequestPrice>
            <version>0.1.0</version>
        </Magentotutorial_RequestPrice>
    </modules>
    <global>
        <blocks>
            <requestprice>
                <class>Magentotutorial_RequestPrice_Block</class>
            </requestprice>
        </blocks>
       <models>
            <requestprice>
                <class>Magentotutorial_RequestPrice_Model</class>
               <resourceModel>requestprice_resource</resourceModel>
            </requestprice>
                <requestprice_resource>
                    <class>Magentotutorial_RequestPrice_Model_Resource</class>
                    <entities>
                        <price>
                            <table>requestprice_order_priceList</table>
                        </price>
                    </entities>
                </requestprice_resource>
        </models>
        <resources>
            <requestprice_setup>
                <setup>
                    <module>Magentotutorial_RequestPrice</module>
                    <class>Magentotutorial_RequestPrice_Model_Resource_Setup</class>
                </setup>
            </requestprice_setup> <!-- Для установки installer -->
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <requestprice>
                    <file>requestprice.xml</file>
                </requestprice>
            </updates>
        </layout>
        <routers>
            <requestprice>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_RequestPrice</module>
                    <frontName>requestprice</frontName>
                </args>
            </requestprice>
        </routers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <hideprice_catalog_price_observer>
                        <type>singleton</type>
                        <class>Magentotutorial_RequestPrice_Model_Observer</class>
                        <method>removePrice</method>
                    </hideprice_catalog_price_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>

        </events>
    </frontend>
</config>